<Form TEntity="AnalysisType">
    <Columns>
        <RadzenDataGridColumn TItem="AnalysisType" Property="@nameof(AnalysisType.ID)" Title="ID" Frozen="true" Width="10%" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="AnalysisType" Property="@nameof(AnalysisType.Name)" Title="@nameof(AnalysisType.Name)" Frozen="true" Width="10%" TextAlign="TextAlign.Center" />
    </Columns>
     <Fields Context="ctx">
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="@nameof(AnalysisType.Name)">
                <RadzenTextBox @bind-Value="@ctx.Name" />
            </RadzenFormField>
        </RadzenColumn>
    </Fields>
</Form>