<Form TEntity="Analysis">
    <Columns>
        <RadzenDataGridColumn TItem="Analysis" Property="@nameof(Analysis.ID)" Title="@nameof(Analysis.ID)" Frozen="true" Width="10%" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="Analysis" Property="@nameof(Analysis.UserID)" Title="@nameof(Analysis.UserID)" Frozen="true" Width="10%" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="Analysis" Property="@nameof(Analysis.Date)" Title="@nameof(Analysis.Date)" Frozen="true" Width="10%" TextAlign="TextAlign.Center" />
    </Columns>
    <Fields Context="ctx">
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="@nameof(Analysis.UserID)">
                <SelectField TEntity="User" TValue="Guid" @bind-Value="@ctx.UserID" TextProperty="@nameof(User.FullName)" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="@nameof(Analysis.Name)">
                <RadzenDatePicker @bind-Value="@ctx.Name" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="@nameof(Analysis.Date)">
                <RadzenDatePicker @bind-Value="@ctx.Date" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="@nameof(Analysis.LaboratoryID)">
                <SelectField TEntity="Laboratory" TValue="Guid?" @bind-Value="@ctx.LaboratoryID" TextProperty="@nameof(Laboratory.Name)" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="@nameof(Analysis.Price)">
                <RadzenDatePicker @bind-Value="@ctx.Price" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="@nameof(Analysis.ExtraInfo)">
                <RadzenDatePicker @bind-Value="@ctx.ExtraInfo" />
            </RadzenFormField>
        </RadzenColumn>
    </Fields>
</Form>