<Form TEntity="User">
    <Columns>
        <RadzenDataGridColumn TItem="User" Property="@nameof(User.ID)" Title="ID" Frozen="true" Width="10%" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="User" Property="@nameof(User.Phone)" Title="Phone" Frozen="true" Width="10%" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="User" Property="@nameof(User.FirstName)" Title="FirstName" Frozen="true" Width="10%" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="User" Property="@nameof(User.LastName)" Title="LastName" Frozen="true" Width="10%" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="User" Property="@nameof(User.Patronymic)" Title="Patronymic" Frozen="true" Width="10%" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="User" Property="@nameof(User.Email)" Title="Email" Frozen="true" Width="10%" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="User" Property="@nameof(User.INN)" Title="INN" Frozen="true" Width="10%" TextAlign="TextAlign.Center" />
    </Columns>
     <Fields Context="ctx">
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="Phone">
                <RadzenTextBox @bind-Value="@ctx.Phone" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="FirstName">
                <RadzenTextBox @bind-Value="@ctx.FirstName" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="LastName">
                <RadzenTextBox @bind-Value="@ctx.LastName" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="Patronymic">
                <RadzenTextBox @bind-Value="@ctx.Patronymic" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="Email">
                <RadzenTextBox @bind-Value="@ctx.Email" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="FirebaseUid">
                <RadzenTextBox @bind-Value="@ctx.FirebaseUid" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="INN">
                <RadzenTextBox @bind-Value="@ctx.INN" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="BirthDate">
                <RadzenDatePicker @bind-Value="@ctx.BirthDate" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="Address">
                <RadzenTextBox @bind-Value="@ctx.Address" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="Role">
                <EnumField TEnum="RoleTypes?" @bind-Value="@ctx.Role" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="Gender">
                <EnumField TEnum="GenderTypes?" @bind-Value="@ctx.Gender" />
            </RadzenFormField>
        </RadzenColumn>
         <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="Blood">
                <EnumField TEnum="BloodTypes?" @bind-Value="@ctx.Blood" />
            </RadzenFormField>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="RhFactor">
                <EnumField TEnum="RhFactorTypes?" @bind-Value="@ctx.RhFactor" />
            </RadzenFormField>
        </RadzenColumn>
    </Fields>
</Form>