<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Кабинет</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle user-info-div" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
                @_userService.CurrentUser?.LastName  @_userService.CurrentUser?.FirstName
            </button>
            <ul class="dropdown-menu dropdown-user-settings" aria-labelledby="dropdownMenu">
                <li @onclick="@(() => Navigate("settings"))"><span class="dropdown-item"><i class="bi bi-gear"></i> Настройки</span></li>
                <li @onclick="() => _userService.SignOut()"><span class="dropdown-item"><i class="bi bi-door-closed"></i> Выйти</span></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a @onclick="@(() => Navigate("patients"))" class="nav-link px-0 align-middle">
                            <i class="bi bi-person-video2"></i> <span class="ms-1 d-none d-sm-inline">Пациенты</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a @onclick="@(() => Navigate("calendar"))" class="nav-link px-0 align-middle">
                            <i class="bi bi-calendar2-week"></i> <span class="ms-1 d-none d-sm-inline">График</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a @onclick="@(() => Navigate("finances"))" class="nav-link px-0 align-middle">
                            <i class="bi bi-cash-coin"></i> <span class="ms-1 d-none d-sm-inline">Финансы</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            @Body
        </div>
    </div>
</div>