@page "/password/recovery/{Email}"

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="login-wrap p-4 p-md-5">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-user-o"></span>
                </div>
                <h3 class="text-center mb-4">Востановить пароль</h3>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-i">
                            <i class="bi bi-person-circle" aria-hidden="true"></i>
                        </div>
                        <input type="text" class="form-control rounded-left" placeholder="Почта" value="@_username"
                               disabled="@_confirmation"
                        @oninput="(val) => _username = (string)val.Value">
                    </div>
                </div>
                @if (_confirmation)
                {
                    <div class="form-group d-flex">
                        <div class="input-group">
                            <div class="input-group-i">
                                <span><i class="bi bi-key"></i></span>
                            </div>
                            <input class="form-control rounded-left" placeholder="Проверочный код" type="text"
                            @bind-value="_otp" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group d-flex">
                        <div class="input-group">
                            <div class="input-group-i">
                                @if (_pwdTypeInput == "password")
                                {
                                    <span @onclick="showPassword">
                                        <i class="bi bi-eye"></i>
                                    </span>
                                }
                                else
                                {
                                    <span @onclick="showPassword">
                                        <i class="bi bi-eye-slash"></i>
                                    </span>
                                }
                            </div>
                            <input class="form-control rounded-left" placeholder="Новый пароль" type="@_pwdTypeInput"
                            @bind-value="_password"
                                   autocomplete="off">
                        </div>
                    </div>
                }
                <div class="d-flex justify-content-between">
                    @if (!_confirmation)
                    {
                        <button class="btn btn-primary" @onclick="_navigationService.Back"><i class="bi bi-x"></i> Отмена</button>
                    }
                    else
                    {
                        <button class="btn btn-primary" @onclick="() => _confirmation = false"><i class="bi bi-x"></i> Назад</button>
                    }

                    @if (!_confirmation)
                    {
                        <button class="btn btn-primary" @onclick="Next" disabled="@(!Validate())">
                            <i class="bi bi-arrow-right"></i> Далее
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary" @onclick="Confirm" disabled="@(!ValidateConfirm())">
                            <i class="bi bi-arrow-repeat"></i> Сбросить
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</section>